.first{
  background-image: url("https://bit.ly/2TkLnZX");
  height: 700px;
  background-repeat: no-repeat;
  background-size:100% 800px ;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
li{
  float:left;
}
li a{
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
h1{
  text-align: center;
}
.paragraph{
  text-align: center;
}
.container{
    box-shadow: 5px 5px 5px gray;
    height: 250px;
    width: 20%;
    border-radius: 10%; 
    background-color: black;
    color:white;
    text-align: center;
    font-size: larger; 
}
h2{
  text-align: center;
}