.first{
  background-image: url("https://bit.ly/2TkLnZX");
  height: 700px;
  background-repeat: no-repeat;
  background-size:100% 800px ;
}
body{
  text-align: center;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}
li{
  float:left;
}
li a{
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
h1{
  text-align: center;
}
.paragraph{
  text-align: center;
}
.container-fluid{
    color:white;
    font-size: larger; 
}
h2{
  text-align: center;
}
h1{
  text-align: center;
  padding-right: 39px;
}
#types{
  text-align: center;
  
}
.jumbo{
  background-color: black;
  color:black;
  text-align: center;
  font-size: smaller;
  background-image: url("https://bit.ly/2VDOD5g");
  background-size: cover;
}